

/* ==========================================================================
   Jackpine's custom styles
   ========================================================================== */

body{
  margin: 0;
  padding:0;
}
a:hover{
  opacity: .7;
  text-decoration: none;
}
*{
  font-family: 'Raleway', Arial, sans-serif !important;
}
h2{
color:#ea5258;
}

h3{
color:#ea5258;
}
.video-btn{
  padding: 20px;
  background-color: #ea5258;
  color: #fff !important;
  text-decoration: none;

}

.nav li{
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
}

.navbar-inner{
  background-color: #ea5258;
}

.nav ul{
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
  color:white;
}


#mail h3{
  text-align:center;
}
#mail a{
    text-decoration: none !important;
}


.span3 a{
	color:#ea5258;
	text-decoration: underline;
}
footer img{
	display:block;
	margin: 0 auto;
}
.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #fff;
text-decoration: none;
text-shadow: none;
}
.navbar-inner {
  background-color: none; 
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.hero-unit{
border-radius:0px;
}
.hero-unit h1{
  line-height: 50px;
  font-size: 30px;
  margin:0 0 20px 0;
}

.span3 img{
    margin: 15px 15px 15px 15px;
}

.spacer{
  height:50px;
}

.hero-unit{
  text-align:center;
}

.hero-unit h3{
  font-size:60px;
}
.hero-unit {
  background-image: url(img/team-photo.jpg); 
  background-position: fixed;
  background-repeat: no-repeat;
}
.span4 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 100pt;
  color: white !important;
  text-align: center !important;
}
.hero-unit div p{
  color: white !important;
  text-align: center !important;
}
.hero-unit div{
    display: table;
    margin: 0 auto;
}
@media (min-width: 600px){
  .hero-unit{
    height: 300px;
  }
  .hero-unit h1{
    line-height: 200px;
    font-size: 40px;

  }
}
@media (min-width: 960px){
  .hero-unit{
    height: 400px;
    background-color: white;
  }
  .hero-unit h1{
    font-size: 80px;
    line-height: 350px;
  }
}